<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Mohammed Abrar</h2>
                    <p class="text-justify">Hello! I'm glad you've dropped by this page to know more about me. I am currently a full time student with Centennial studying Software Engeering Technology - Artificial Intelligence. I am also a graduate in Electronics and Communication Engineering but during final semester, I was able to acquire job in Wells Fargo as Technology Analyst where I have gained exposure to various fields for a span of 7 years. 
                    </p>
                    <button type="button" class="btn btn-success" onclick=" window.open('https://drive.google.com/file/d/1ypKrSFZxaFt1G_Ym85anWweQQqC8YSp8/view?usp=sharing')">Resume</button>
                </div>
                <div class="col-md-6">
                    <img src="Assets\images\mypic.jfif" />
                </div>
            </div>
          </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>