<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">Contact using any of the below platforms, will respond within few hours:</h4>
          <a href="https://github.com/Abrar-Mohammed" class="card-link">GitHub</a>
          <a href="https://www.linkedin.com/in/abrar-mohammed-ab161b76/" class="card-link">LinkedIn</a>
        </div>
      </div>

  </main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>