<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
        <h1 class="display-3">Welcome to Abrar's Profile</h1>
        <p class="lead"> "Which doesn't kill you, will make you strong" </p>
        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- German philosopher Friedrich Nietzsche </p>
        <hr class="my-2">
        <p>To know more about me, please click on below button.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" left:80px href="/about" role="button">About Me</a>
        </p>
      </div>
  </main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>