<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class = "container">
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="/Assets/images/Infrastructure.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Infrastructure </h4>
            <p class="card-text">I have extensive experience as Infrastruture Engineer, worked on multiple migrations which required skills and expertise knowledge on Linux, Architecture and Clustering. Migrated applications from legacy AIX to Linux RHEL6 and recently to RHEL 7. 
            </p>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/Assets/images/ETLProcess.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">ETL Administration</h4>
            <p class="card-text">Being an Ab initio Administrator for 2 years, gained experience in support and development of ETL applications used in the bank.
            </p>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/Assets/images/AI CI.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">DevOps</h4>
            <p class="card-text">Worked as DevOps Engineer where had experience in multiple areas. Have expertise level of knowledge on Continous Integration, Continous Delivery and profound knowledge on various DevOps tools as in Jenkins, uDeploy, Artifactory, SubVersion, Anthill. Have also developed various automations using Ansible to curb manual tasks. 
            </p>
          </div>
        </div>
      </div>
  </main>

  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>