<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<main class="container">
<div class="list-group">
    <a href="/serviceregister" class="list-group-item list-group-item-action text-center"><img class="card-img-top" src="/Assets/images/web development.jpg" height: auto width="540px"
        class="card-body">
          <h4 class="card-title">Web Development </h4></a>
    <a href="/serviceregister" class="list-group-item list-group-item-action text-center"><img class="card-img-top" src="/Assets/images/CI_CD.jpg"
    class="card-body">
          <h4 class="card-title">Continous Integration and Delivery</h4></a>
    <a href="/serviceregister" class="list-group-item list-group-item-action text-center"> <img class="card-img-top" src="/Assets/images/Infrastructure.jpg"
        class="card-body">
        <h4 class="card-title">Infrastructure Engineering</h4></a>
</div>
</main>



<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>